.blog-list {
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(4,1fr);
    background-color: red;
  }
  
  .blog-list-item {
    width: 100%;
    aspect-ratio: 1/1;
    border-style: solid;
  }
  
  .blog-list-item img {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: black;
  }
  
  .blog-link:active, .blog-link:visited{
    color: black;
  }

  